<%= form_with(model: turn, local: true, html: { class: 'form-horizontal' }) do |form| %>
  <% if turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
      <% turn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
		<%= form.label :story_id, "Story",  class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
      <%= collection_select(:turn, :story_id, @stories, :id, :content, { prompt: true }, { class: 'form-control' }) %>
    </div>
  </div>

  <div class="form-group">
		<%= form.label :noun, class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
			<%= form.text_field :noun, id: :turn_noun, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
		<%= form.label :verb, class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
			<%= form.text_field :verb, id: :turn_verb, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
		<%= form.label :adverb, class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
			<%= form.text_field :adverb, id: :turn_adverb, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
		<%= form.label :adjective, class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
			<%= form.text_field :adjective, id: :turn_adjective, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
			<%= link_to 'Back', turns_path, class: 'btn btn-default' %>

			<%= form.button 'Submit', type: 'submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
